<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="ittiiy.css">
    <style>

    </style>
</head>
<body>
<header>
    <nav>
        <ul>
            <li>Главный</li>
            <li>Галерея</li>
            <li>События</li>
            <li>Комментарии</li>
            <li>Предметы</li>
            <li>Локации</li>
            <li>Логин</li>
        </ul>
    </nav>
</header>
<section>
    <div class="bigdiv">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>
</section>

</body>
</html>