{% extends 'asad1.html' %}
<link rel="stylesheet" href="login.css">
{% block text %}
    Register
{% endblock %}
{% block body %}

    <div class="block">
        <div class="name_input">
            <h4>name</h4>
            <input type="text" placeholder="nickname">
        </div>
        <div class="password_input">
            <h4>password</h4>
            <input type="password" placeholder="password">
        </div>
    <div class="button">
        <button>Register</button>
    </div>
    </div>

{% endblock %}